In [35]:
# Import the modules
import numpy as np
import pandas as pd
import codecs
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler

In [33]:
#readining in CSV file 
with codecs.open("/Users/aileen/Downloads/DataCoSupplyChainDataset_Original.csv", 'r', encoding='ISO-8859-1') as f:
    dataco_df = pd.read_csv(f)

#priniting df
dataco_df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [16]:
all_columns = dataco_df.columns
all_columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [10]:
#all delivery statuses
unique_delivery_values = dataco_df['Delivery Status'].unique()
unique_delivery_values

array(['Advance shipping', 'Late delivery', 'Shipping on time',
       'Shipping canceled'], dtype=object)

In [15]:
#all zipcode 
unique_delivery_values = dataco_df['Order Zipcode'].unique()
unique_delivery_values

array([   nan, 99301., 90049., 94110., 66212., 77041., 85234., 95123.,
       93727., 85345., 45231., 47201., 19134., 60016., 60126., 98103.,
       94601., 10009., 28110., 80219., 90008., 77095., 32216., 77036.,
       74133., 94109., 92553., 20735., 60543., 60174., 31907., 62521.,
       92627., 28806., 35630.,  1852., 10024., 44312., 22153., 89015.,
       90045., 10011., 49505., 78664., 76017., 92105., 85705., 90032.,
       48227., 55407., 28205., 23602., 94122., 11572., 78207., 68104.,
       21215., 75081., 10035., 98115., 49201., 43229., 60653.,  6708.,
       98105., 19143., 42420., 80134., 94533., 92037., 90036., 22304.,
       35810., 19711., 38109., 72701., 23223., 40475., 65807., 33801.,
       13021., 45503., 78577., 11550., 40214., 67212., 76106., 21044.,
       30318., 79762., 60610., 75217., 90004., 89115., 95037., 97206.,
       14215., 79109., 33614., 75034., 28540., 32303.,  4240., 34952.,
       63116., 77070.,  1841., 97756., 19140., 28314., 13440., 60623.,
       95823., 37042., 46060.,  8701., 26003., 19120., 19013., 99207.,
        2138., 72209., 39212., 44256., 19805., 74012., 23320., 80112.,
       85023., 38671., 92374., 62301., 55106., 22801., 47150., 37167.,
       28403., 29203., 37064., 27604., 80013., 24153., 43055., 54880.,
       85281., 92024., 87105., 27893., 75150., 95695., 33311., 77506.,
       44240.,  4401., 77340.,  7960., 35601., 33023., 22204., 37211.,
       92704., 30062., 33178., 91104., 60302., 54401., 68025., 33180.,
       53209., 60505., 55044., 27707., 75701., 72401., 98661., 48234.,
       95051., 41042., 46368., 91941., 74403., 37130., 36608.,  7090.,
       66062., 70506.,  7501., 47905., 11561., 33021., 33142., 80004.,
       30344., 90301., 43130., 76117., 98042., 98632., 48146., 73120.,
       32839., 45373., 92804., 80027., 72032., 79907., 90805.,  2908.,
       55901., 92503.,  1453., 78745., 98052., 84106.,  6824., 76706.,
       60440., 92404., 32712.,  2169., 33024., 98208., 98006., 42104.,
       85301., 30328., 71203., 32137., 22980., 61032., 92345., 37620.,
       97301., 78539., 97477., 92530., 46203., 18103., 75051.,  2740.,
       12180., 67846., 54601., 43017., 94061.,  2149., 37421., 38301.,
       85204.,  3820., 10550., 89031., 53142., 47374., 44105., 75220.,
       85323., 54302., 60540., 60025., 13601., 48183., 44107., 93309.,
       75023., 87124., 94591., 71111., 30080., 61701.,  7601., 27217.,
       43615., 93101., 77590.,  6457., 60201., 97405., 32503., 98026.,
        7060., 33437., 46350., 75061., 30605., 48205., 48126., 17403.,
       91767., 83605., 28052., 48601., 19901., 44052., 79424., 10701.,
       36116., 55113., 23434., 98198., 13501., 92307., 20016.,  8302.,
       97224.,  2038., 61107.,  2148., 45014., 90712., 94086., 75007.,
       71603., 78041., 46544., 37075., 85254., 28601., 83642., 37918.,
       48310., 33012., 85224.,  7050., 76021.,  6010., 37604., 70601.,
       92691., 20877., 88220.,  8360., 78501., 27405., 92054., 29501.,
       92630., 43302., 33458., 33065., 40324., 28027., 33317., 84107.,
       39401.,  6040., 14609., 98502., 78415., 84041., 61761., 84084.,
       94509., 95661., 80020., 84062., 33063.,  1915., 10801., 77642.,
       90503., 84604., 80906., 32114., 91776., 23464., 85635., 48911.,
       27834., 77705., 90278., 38401., 22901., 50315., 98031.,  7055.,
       84057., 75002.,  3301., 36830., 44221., 30076., 60462., 78550.,
       94568., 44134., 48127., 84043., 61821., 46226., 35244., 47401.,
       92025., 33319., 75056., 53132., 60076., 65203., 92683., 68701.,
       55124., 77573.,  6450., 78666., 77840., 96003., 90640.,  5408.,
       56301., 63301., 55122., 92677., 43123., 20852., 59601., 89431.,
       23666., 59405., 78521.,  6484., 18018., 11520., 76063., 48640.,
       92646., 94513.,  8401., 97504.,  2920., 52601., 14304.,  6360.,
       57701.,  8861., 27360., 83201., 81001., 55369., 84321., 53711.,
        7011., 89502.,  7109.,  7002., 91505., 75080., 94526., 31088.,
       72762., 32771., 97123., 95336., 93405., 95240., 80501., 80229.,
       93454., 97030., 33068., 42301., 50322., 16602., 60035., 76903.,
       70065., 44060., 53081., 29464., 85364., 48185., 53214., 27511.,
       57103., 60090., 37087., 29483., 83704., 93534., 93905.,  2886.,
       79605., 43402., 52302., 17602.,  8901., 55016., 64118., 54703.,
       95928., 95351., 94521., 45011., 31204., 33407.,  2151., 71901.,
       60098., 48307., 86442.,  6460., 98059., 35401., 92592., 39503.,
       77571., 93030., 95207.,  2895., 60089., 75043., 73034., 48180.,
       49423., 53186., 73505., 33433.,  1810., 95610., 80538., 55125.,
       88101., 33445., 92563., 61604., 93010., 58103., 52001., 90604.,
       91761., 77803., 52402., 44035., 33710., 33030., 98270., 48073.,
       73071., 75019., 29730.,  1752., 46142., 68801., 48104., 59715.,
       87505., 19601., 45040., 92672., 60004., 80525., 33161., 83301.,
       91730., 93277., 29406., 91360., 84020., 48237., 63122., 32725.,
       61832., 60188., 60477., 77301., 94403., 77489., 59102., 42071.,
       14701., 92236., 46614., 98002., 54915., 60068., 48187.,  1040.,
       60441., 64055., 32174., 20707., 98226., 48066.,  7017., 92020.,
       91911., 75104., 56560., 88001., 47362., 76051., 50701., 57401.,
       80022., 77536., 71854., 55433., 77581., 63376., 48858., 34741.,
       95616., 46514., 87401.,  7036., 30188., 59801., 11757., 92399.,
       90660.,  3060.])

In [26]:
dataco_df_clean = dataco_df.drop(['Product Description'], axis=1)
dataco_df_clean.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,PENDING,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,CLOSED,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,PENDING_PAYMENT,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [27]:
#delivery risk values
delivery_risk = dataco_df_clean['Late_delivery_risk'].unique()
delivery_risk

array([0, 1])

In [28]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = dataco_df_clean['Late_delivery_risk']

# Separate the X variable, the features
x = dataco_df_clean.drop('Late_delivery_risk', axis = 1)

In [29]:
# Review the y variable Series
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Late_delivery_risk, dtype: int64

In [30]:
# Review the X variable DataFrame
x.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Category Id,Category Name,Customer City,Customer Country,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,73,Sporting Goods,Caguas,Puerto Rico,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,73,Sporting Goods,Caguas,Puerto Rico,...,PENDING,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,73,Sporting Goods,San Jose,EE. UU.,...,CLOSED,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,73,Sporting Goods,Los Angeles,EE. UU.,...,COMPLETE,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,73,Sporting Goods,Caguas,Puerto Rico,...,PENDING_PAYMENT,NaN,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [31]:
# Check the balance of our target values
value_cnts = y.value_counts()
print(value_cnts)

1    98977
0    81542
Name: Late_delivery_risk, dtype: int64

In [45]:
y_updated = pd.get_dummies(y)
y

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: Late_delivery_risk, Length: 180519, dtype: int64

In [49]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function
x_train, x_test, y_train, y_test = train_test_split(x, 
                                                    y_updated, 
                                                    random_state=1, 
                                                    stratify=y)

In [54]:
data_types = x_train.dtypes

data_types

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

In [55]:
x_train['Type'] = x_train['Type'].astype(float)

ValueError: could not convert string to float: 'TRANSFER'

In [52]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver= 'lbfgs', random_state = 1)

# Fit the model using training data
classifier.fit(x_train, y_train)

ValueError: could not convert string to float: 'TRANSFER'